@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
.title-size {
      @apply md:text-[1.5rem] text-[0.6rem]
}
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}



@layer base {
  * {
    @apply border-border font-sans
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
body {
      font-family: 'Open Sans', sans-serif;
}

/* You can apply different fonts to specific sections */
h1,
h2,
h3,
button,
a,
Link,
h4,
h5,
Button,
.montserrat-font {
      font-family: 'Montserrat','Tajawal',sans-serif;
}

p,
.tajawal-font {
      font-family: 'Montserrat', 'Tajawal', sans-serif;
}


@layer utilities {
}

.ql-toolbar.ql-snow {
  @apply block w-full rounded-t-md border border-gray-800 bg-transparent py-2 pl-5 pr-10 text-base font-normal text-white placeholder-gray-500 focus:border-white focus:ring-1 focus:ring-white;
}

.ql-container.ql-snow {
  @apply block min-h-20 w-full rounded-b-md border border-gray-800 bg-transparent text-base font-normal text-gray-400 placeholder-gray-500 focus:border-white focus:ring-1 focus:ring-white;
}


.jodit-editor ul,
.jodit-editor ol {
      padding-left: 20px;
}

.jodit-editor ul li,
.jodit-editor ol li {
      list-style-type: disc;
      margin-bottom: 5px;
}

.jodit-editor ol li {
      list-style-type: decimal;
}

/* Targeting unordered and ordered lists within JoditEditor */
.jodit-wysiwyg ul,
.jodit-wysiwyg ol {
      padding-left: 20px;
      /* Adjust as needed */
}

/* Default unordered list item */
.jodit-wysiwyg ul li {
      list-style-type: disc;
      /* Unordered list marker style */
      margin-bottom: 5px;
      /* Adjust as needed */
}

/* Specific styles for different unordered list types */
.jodit-wysiwyg ul.circle li {
      list-style-type: circle;
      /* Circle marker style */
}

.jodit-wysiwyg ul.square li {
      list-style-type: square;
      /* Square marker style */
}

/* Default ordered list item */
.jodit-wysiwyg ol li {
      list-style-type: decimal;
      /* Ordered list marker style */
      margin-bottom: 5px;
      /* Adjust as needed */
}

/* Specific styles for different ordered list types */
.jodit-wysiwyg ol.lower-alpha li {
      list-style-type: lower-alpha;
      /* Lowercase alphabetic marker style */
}

.jodit-wysiwyg ol.lower-greek li {
      list-style-type: lower-greek;
      /* Lowercase Greek marker style */
}


.scrollbar-hide::-webkit-scrollbar {
      display: none;
}

.scrollbar-hide {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
}

.custom-outline {
      -webkit-text-stroke: 1px black;
      color: transparent;
}

.custom-outline-light {
      -webkit-text-stroke: 1px white;
      color: transparent;
}

/* Dark mode support */
.dark .custom-outline {
      -webkit-text-stroke: 1px white;
}

.dark .custom-outline-light {
      -webkit-text-stroke: 1px black;
}

/********************************
 * scroll bar
 ********************************/
.chat-aside::-webkit-scrollbar {
  width: 6px;
}
.chat-aside::-webkit-scrollbar-track {
  border-radius: 10px;
}

.chat-aside::-webkit-scrollbar-thumb {
  background: rgb(235, 231, 231);
  border-radius: 10px;
}

.chat-aside::-webkit-scrollbar-thumb:hover {
  background: #cfcdcd;
}

/* chat box scroll */
.chat-box::-webkit-scrollbar {
  width: 6px;
}
.chat-box::-webkit-scrollbar-track {
  border-radius: 10px;
}

.chat-box::-webkit-scrollbar-thumb {
  background: rgb(235, 231, 231);
  border-radius: 10px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
  background: #cfcdcd;
}

/* modal scroll */
/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


audio::-webkit-media-controls-panel {
 @apply dark:!bg-[#2e3444] !bg-[#fff]
}

audio::-webkit-media-controls-play-button {
  background-color: #DA1A21;
  color: #fff!important;
  border-radius: 50%;
}
 

audio::-webkit-media-controls-time-remaining-display {
  color: red!important;
}

audio::-webkit-media-controls-timeline {
 @apply dark:!bg-[#2e3444] !bg-[#fff]
}


/********************************
 * Chat Bot Scroll Customization
 ********************************/
.chat-bot::-webkit-scrollbar {
    width: 6px!important; /* Adjust width */
}
.chat-bot-chat-area::-webkit-scrollbar {
    width: 0px!important; /* Adjust width */
}

/* Track */
.chat-bot::-webkit-scrollbar-track {
    background: #44363600!important; 
    border-radius: 10px!important;
}

/* Handle */
.chat-bot::-webkit-scrollbar-thumb {
    background: #d8d4d4!important;
    border-radius: 10px!important;
}

/* Handle on hover */
.chat-bot::-webkit-scrollbar-thumb:hover {
    background: #e6e4e4!important;
}


/********************************
 * react select customization
 ********************************/
 .css-1p3m7a8-multiValue {
      background-color: #008BDC!important;
      color: #fff!important;
 }

 .css-9jq23d {
      color: white!important;
 }

 .css-v7duua:hover {
      background-color: transparent!important;
 }

 .css-1u9des2-indicatorSeparator {
      display: none!important;
}

.css-13cymwt-control:hover {
      border: 1px solid #001968!important;
}

.custom-range::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #7b98a9; 
  border: 4px solid #ffffff!important;
  box-shadow: 0px 0px 0px 2px #7b98a9;
  padding: 1px!important;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.custom-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

/* audio */


.my-recording-wave {
      display: flex;
      align-items: center;
      gap: 2px;
      flex: 1;
}

.wave-bar-play {
      width: 2px;
      height: 20px;
      background-color: #4C7BFF;
      animation: myWave 1s ease-in-out infinite;
}

.wave-bar-pause {
      width: 2px;
      height: 20px;
      background-color: #4C7BFF;
      /* animation: wave 1s ease-in-out infinite; */
}

@keyframes myWave {

      0%,
      100% {
            transform: scaleY(0.5);
      }

      50% {
            transform: scaleY(1);
      }
}


.playing-bar {
    width: 2px;
    height: 20px;
    background-color: #4C7BFF;
    animation: waveAnimation 1s ease-in-out infinite;
}

.paused-bar {
    width: 2px;
    height: 20px;
    background-color: #4C7BFF;
}

.my-recording-wave.paused .playing-bar {
    animation: none; /* Stop wave animation when paused */
}

@keyframes waveAnimation {
    0%,
    100% {
        transform: scaleY(0.5);
    }

    50% {
        transform: scaleY(1);
    }
}


/********************************
 * table customize
 ********************************/ 
 @media (min-width: 640px) {
   .profile-info table {
      display: inline-table !important;
    }

   .profile-info thead tr:not(:first-child) {
      display: none;
    }
  }

 .profile-info td:not(:last-child) {
    border-bottom: 0;
  }

 .profile-info th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }

  .custom-input:focus {
    border-color: #94a3b8 !important;
    box-shadow: none !important;
}

.custom-input {
    border-color: #a8b4c7ec !important;
    border-radius: 4px!important;
}
.custom-input:hover {
    border-color: #94a3b8 !important;
}

.custom-quill .ql-container.ql-snow {
    border: 1px solid #ccc;
}

.custom-quill .ql-container.ql-snow:hover {
    border-color: black;
}

.tabs-trigger[data-state='active'] {
      /* background-color: #2d4aaa09; */
    border-bottom: 2px solid #001968;
    color: #001968;
    box-shadow: none;
    border-radius: 0;
}
.date-input {
      @apply  h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50
}


@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-slide-up {
  animation: slide-up 0.6s ease-in-out;
}

.animate-slide-down {
  animation: slide-down 0.6s ease-in-out;
}

